
services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432" # Maps Host Port (Env) -> Container Port (5432)
    networks:
      - app-network
    restart: always

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    command: sh -c "echo 'Waiting for DB...' && sleep 2 && python manage.py migrate && python manage.py seed_data && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "${BACKEND_PORT}:8000" # Maps Host Port (Env) -> Container Port (8000)
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=5432
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    networks:
      - app-network

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    command: pnpm run dev --host
    volumes:
      - ./frontend:/app
      - /app/node_modules # Protect container dependencies
    ports:
      - "${FRONTEND_PORT}:5173" # Maps Host Port (Env) -> Container Port (5173)
    environment:
      - VITE_GRAPHQL_URL=${VITE_GRAPHQL_URL}
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
